# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/.gitignore
winter-auth/target/
winter-cloud/.idea/**
winter-common/winter-common-core/target/

winter-common/winter-common-datasource-starter/target/
winter-common/winter-common-doc-gateway-starter/target/
winter-common/winter-common-doc-starter/target/
winter-common/winter-common-doc/target/
winter-common/winter-common-redis-starter/target/
winter-common/winter-common-security-starter/target/
